function Output.init 2
    push constant 16384
    pop static 1
    push constant 0
    pop static 3
    push constant 0
    pop static 4
    push constant 8
    pop local 1
    push local 1
    call Array.new 1
    pop static 2
    push constant 0
    push static 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    pop local 0
label Output_0
    push local 0
    push local 1
    lt
    not
    if-goto Output_1
    push local 0
    push static 2
    add
    push local 0
    push constant 1
    sub
    push static 2
    add
    pop pointer 1
    push that 0
    push local 0
    push constant 1
    sub
    push static 2
    add
    pop pointer 1
    push that 0
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Output_0
label Output_1
    call Output.initMap 0
    pop temp 0
    push constant 0
    return
function Output.initMap 1
    push constant 127
    call Array.new 1
    pop static 0
    push constant 0
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 32
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 33
    push constant 12
    push constant 30
    push constant 30
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 34
    push constant 54
    push constant 54
    push constant 20
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 35
    push constant 0
    push constant 18
    push constant 18
    push constant 63
    push constant 18
    push constant 18
    push constant 63
    push constant 18
    push constant 18
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 36
    push constant 12
    push constant 30
    push constant 51
    push constant 3
    push constant 30
    push constant 48
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 37
    push constant 0
    push constant 0
    push constant 35
    push constant 51
    push constant 24
    push constant 12
    push constant 6
    push constant 51
    push constant 49
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 38
    push constant 12
    push constant 30
    push constant 30
    push constant 12
    push constant 54
    push constant 27
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 39
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 40
    push constant 24
    push constant 12
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 41
    push constant 6
    push constant 12
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 42
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 30
    push constant 63
    push constant 30
    push constant 51
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 43
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 63
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 44
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 45
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 46
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 47
    push constant 0
    push constant 0
    push constant 32
    push constant 48
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 1
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 48
    push constant 12
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 49
    push constant 12
    push constant 14
    push constant 15
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 50
    push constant 30
    push constant 51
    push constant 48
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 51
    push constant 30
    push constant 51
    push constant 48
    push constant 48
    push constant 28
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 52
    push constant 16
    push constant 24
    push constant 28
    push constant 26
    push constant 25
    push constant 63
    push constant 24
    push constant 24
    push constant 60
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 53
    push constant 63
    push constant 3
    push constant 3
    push constant 31
    push constant 48
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 54
    push constant 28
    push constant 6
    push constant 3
    push constant 3
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 55
    push constant 63
    push constant 49
    push constant 48
    push constant 48
    push constant 24
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 56
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 57
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 48
    push constant 24
    push constant 14
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 58
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 59
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 60
    push constant 0
    push constant 0
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 61
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 62
    push constant 0
    push constant 0
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 64
    push constant 30
    push constant 51
    push constant 51
    push constant 59
    push constant 59
    push constant 59
    push constant 27
    push constant 3
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 63
    push constant 30
    push constant 51
    push constant 51
    push constant 24
    push constant 12
    push constant 12
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 65
    push constant 12
    push constant 30
    push constant 51
    push constant 51
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 66
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 67
    push constant 28
    push constant 54
    push constant 35
    push constant 3
    push constant 3
    push constant 3
    push constant 35
    push constant 54
    push constant 28
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 68
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 27
    push constant 15
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 69
    push constant 63
    push constant 51
    push constant 35
    push constant 11
    push constant 15
    push constant 11
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 70
    push constant 63
    push constant 51
    push constant 35
    push constant 11
    push constant 15
    push constant 11
    push constant 3
    push constant 3
    push constant 3
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 71
    push constant 28
    push constant 54
    push constant 35
    push constant 3
    push constant 59
    push constant 51
    push constant 51
    push constant 54
    push constant 44
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 72
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 73
    push constant 30
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 74
    push constant 60
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 27
    push constant 27
    push constant 14
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 75
    push constant 51
    push constant 51
    push constant 51
    push constant 27
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 76
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 77
    push constant 33
    push constant 51
    push constant 63
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 78
    push constant 51
    push constant 51
    push constant 55
    push constant 55
    push constant 63
    push constant 59
    push constant 59
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 79
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 80
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 81
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 59
    push constant 30
    push constant 48
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 82
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 83
    push constant 30
    push constant 51
    push constant 51
    push constant 6
    push constant 28
    push constant 48
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 84
    push constant 63
    push constant 63
    push constant 45
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 85
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 86
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 87
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 63
    push constant 63
    push constant 18
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 88
    push constant 51
    push constant 51
    push constant 30
    push constant 30
    push constant 12
    push constant 30
    push constant 30
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 89
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 90
    push constant 63
    push constant 51
    push constant 49
    push constant 24
    push constant 12
    push constant 6
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 91
    push constant 30
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 92
    push constant 0
    push constant 0
    push constant 1
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 48
    push constant 32
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 93
    push constant 30
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 94
    push constant 8
    push constant 28
    push constant 54
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 95
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 96
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 97
    push constant 0
    push constant 0
    push constant 0
    push constant 14
    push constant 24
    push constant 30
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 98
    push constant 3
    push constant 3
    push constant 3
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 99
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 3
    push constant 3
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 100
    push constant 48
    push constant 48
    push constant 48
    push constant 60
    push constant 54
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 101
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 63
    push constant 3
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 102
    push constant 28
    push constant 54
    push constant 38
    push constant 6
    push constant 15
    push constant 6
    push constant 6
    push constant 6
    push constant 15
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 103
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 104
    push constant 3
    push constant 3
    push constant 3
    push constant 27
    push constant 55
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 105
    push constant 12
    push constant 12
    push constant 0
    push constant 14
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 106
    push constant 48
    push constant 48
    push constant 0
    push constant 56
    push constant 48
    push constant 48
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 107
    push constant 3
    push constant 3
    push constant 3
    push constant 51
    push constant 27
    push constant 15
    push constant 15
    push constant 27
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 108
    push constant 14
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 109
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 63
    push constant 43
    push constant 43
    push constant 43
    push constant 43
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 110
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 111
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 112
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 3
    push constant 3
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 113
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 48
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 114
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 55
    push constant 51
    push constant 3
    push constant 3
    push constant 7
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 115
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 6
    push constant 24
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 116
    push constant 4
    push constant 6
    push constant 6
    push constant 15
    push constant 6
    push constant 6
    push constant 6
    push constant 54
    push constant 28
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 117
    push constant 0
    push constant 0
    push constant 0
    push constant 27
    push constant 27
    push constant 27
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 118
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 119
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 63
    push constant 18
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 120
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 30
    push constant 51
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 121
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 24
    push constant 15
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 122
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 27
    push constant 12
    push constant 6
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 123
    push constant 56
    push constant 12
    push constant 12
    push constant 12
    push constant 7
    push constant 12
    push constant 12
    push constant 12
    push constant 56
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 124
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 125
    push constant 7
    push constant 12
    push constant 12
    push constant 12
    push constant 56
    push constant 12
    push constant 12
    push constant 12
    push constant 7
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 126
    push constant 38
    push constant 45
    push constant 25
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call Output.create 12
    pop temp 0
    push constant 0
    return
function Output.create 1
    push constant 11
    call Array.new 1
    pop local 0
    push argument 0
    push static 0
    add
    push local 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    push local 0
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push argument 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 0
    add
    push argument 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 0
    add
    push argument 5
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 0
    add
    push argument 6
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 0
    add
    push argument 7
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 0
    add
    push argument 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 0
    add
    push argument 9
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 9
    push local 0
    add
    push argument 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 0
    add
    push argument 11
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Output.getMap 0
    push argument 0
    push constant 32
    lt
    push argument 0
    push constant 126
    gt
    or
    not
    if-goto Output_3
    push constant 0
    pop argument 0
    goto Output_2
label Output_3
label Output_2
    push argument 0
    push static 0
    add
    pop pointer 1
    push that 0
    return
function Output.moveCursor 0
    push argument 1
    pop static 3
    push argument 0
    pop static 4
    push constant 32
    call Output.printChar 1
    pop temp 0
    push argument 1
    pop static 3
    push argument 0
    pop static 4
    push constant 0
    return
function Output.printChar 7
    push argument 0
    call Output.getMap 1
    pop local 0
    push static 3
    push constant 8
    call Math.multiply 2
    pop local 2
    push static 4
    push constant 11
    call Math.multiply 2
    pop local 3
    push constant 0
    pop local 1
label Output_4
    push local 1
    push constant 11
    lt
    not
    if-goto Output_5
    push local 1
    push local 0
    add
    pop pointer 1
    push that 0
    pop local 5
    push constant 0
    pop local 6
label Output_6
    push local 6
    push constant 8
    lt
    not
    if-goto Output_7
    push local 5
    push constant 7
    push local 6
    sub
    push static 2
    add
    pop pointer 1
    push that 0
    and
    push constant 0
    gt
    not
    if-goto Output_9
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 2
    push constant 7
    push local 6
    sub
    add
    push local 3
    push local 1
    add
    call Screen.drawPixel 2
    pop temp 0
    goto Output_8
label Output_9
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 2
    push constant 7
    push local 6
    sub
    add
    push local 3
    push local 1
    add
    call Screen.drawPixel 2
    pop temp 0
label Output_8
    push local 6
    push constant 1
    add
    pop local 6
    goto Output_6
label Output_7
    push local 1
    push constant 1
    add
    pop local 1
    goto Output_4
label Output_5
    push static 3
    push constant 1
    add
    pop static 3
    push static 3
    push constant 64
    eq
    not
    if-goto Output_11
    push constant 0
    pop static 3
    push static 4
    push constant 1
    add
    pop static 4
    goto Output_10
label Output_11
label Output_10
    push static 4
    push constant 23
    eq
    not
    if-goto Output_13
    push constant 0
    pop static 4
    goto Output_12
label Output_13
label Output_12
    push constant 0
    return
function Output.printString 2
    push constant 0
    pop local 0
    push argument 0
    call String.length 1
    pop local 1
label Output_14
    push local 0
    push local 1
    lt
    not
    if-goto Output_15
    push argument 0
    push local 0
    call String.charAt 2
    call Output.printChar 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Output_14
label Output_15
    push constant 0
    return
function Output.printInt 1
    push constant 8
    call String.new 1
    pop local 0
    push local 0
    push argument 0
    call String.setInt 2
    pop temp 0
    push local 0
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Output.println 0
    push constant 0
    pop static 3
    push static 4
    push constant 1
    add
    pop static 4
    push static 4
    push constant 23
    eq
    not
    if-goto Output_17
    push constant 0
    pop static 4
    goto Output_16
label Output_17
label Output_16
    push constant 0
    return
function Output.backSpace 0
    push static 3
    push constant 0
    gt
    not
    if-goto Output_19
    push static 4
    push static 3
    push constant 1
    sub
    call Output.moveCursor 2
    pop temp 0
    push constant 0
    return
    goto Output_18
label Output_19
label Output_18
    push static 3
    push constant 0
    eq
    not
    if-goto Output_21
    push static 4
    push constant 0
    gt
    not
    if-goto Output_23
    push static 4
    push constant 1
    sub
    push constant 63
    call Output.moveCursor 2
    pop temp 0
    goto Output_22
label Output_23
    push constant 22
    push constant 63
    call Output.moveCursor 2
    pop temp 0
label Output_22
    goto Output_20
label Output_21
label Output_20
    push constant 0
    return