function Sys.init 0
    call Math.init 0
    pop temp 0
    call Memory.init 0
    pop temp 0
    call Screen.init 0
    pop temp 0
    call Keyboard.init 0
    pop temp 0
    call Output.init 0
    pop temp 0
    call Main.main 0
    pop temp 0
    push constant 32767
    pop static 0
    push constant 0
    return
function Sys.halt 0
label Sys_0
    push constant 1
    neg
    not
    if-goto Sys_1
    goto Sys_0
label Sys_1
    push constant 0
    return
function Sys.wait 2
    push constant 0
    pop local 0
label Sys_2
    push local 0
    push argument 0
    lt
    not
    if-goto Sys_3
    push constant 0
    pop local 1
label Sys_4
    push local 1
    push static 0
    lt
    not
    if-goto Sys_5
    push local 1
    push constant 1
    add
    pop local 1
    goto Sys_4
label Sys_5
    push local 0
    push constant 1
    add
    pop local 0
    goto Sys_2
label Sys_3
    push constant 0
    return
function Sys.error 0
    push constant 3
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push argument 0
    call Output.printInt 1
    pop temp 0
    call Sys.halt 0
    pop temp 0
    push constant 0
    return