function Memory.init 0
    push constant 0
    pop static 0
    push constant 2048
    pop static 1
    push constant 2048
    pop static 2
    push constant 0
    push static 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push static 1
    add
    push constant 14335
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Memory.peek 0
    push argument 0
    push static 0
    add
    pop pointer 1
    push that 0
    return
function Memory.poke 0
    push argument 0
    push static 0
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Memory.alloc 4
    push static 2
    push static 1
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    not
    if-goto Memory_1
    push static 2
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    lt
    not
    not
    if-goto Memory_3
    push static 2
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    eq
    not
    if-goto Memory_5
    push static 2
    push constant 2
    add
    pop local 2
    push static 2
    push static 1
    add
    pop pointer 1
    push that 0
    pop static 2
    goto Memory_4
label Memory_5
    push static 2
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 3
    push static 2
    push constant 1
    add
    push static 1
    add
    push local 3
    push argument 0
    sub
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push static 2
    push local 3
    push argument 0
    sub
    add
    pop local 2
label Memory_4
    push local 2
    return
    goto Memory_2
label Memory_3
label Memory_2
    goto Memory_0
label Memory_1
label Memory_0
    push static 2
    pop local 0
    push static 2
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 1
label Memory_6
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    not
    if-goto Memory_7
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    lt
    not
    not
    if-goto Memory_9
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    eq
    not
    if-goto Memory_11
    push local 0
    push static 1
    add
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 2
    add
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 2
    goto Memory_10
label Memory_11
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 3
    push local 0
    push static 1
    add
    push local 1
    push local 3
    push argument 0
    sub
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    push static 1
    add
    push local 3
    push argument 0
    sub
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push local 3
    push argument 0
    sub
    add
    pop local 2
label Memory_10
    push local 2
    return
    goto Memory_8
label Memory_9
    push local 1
    pop local 0
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 1
label Memory_8
    goto Memory_6
label Memory_7
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto Memory_13
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    lt
    not
    not
    if-goto Memory_15
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    push argument 0
    eq
    not
    if-goto Memory_17
    push local 0
    push static 1
    add
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 2
    add
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 2
    goto Memory_16
label Memory_17
    push local 1
    push constant 1
    add
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 3
    push local 0
    push static 1
    add
    push local 1
    push local 3
    push argument 0
    sub
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    push static 1
    add
    push local 3
    push argument 0
    sub
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push local 3
    push argument 0
    sub
    add
    pop local 2
label Memory_16
    push local 2
    return
    goto Memory_14
label Memory_15
label Memory_14
    goto Memory_12
label Memory_13
label Memory_12
    push constant 0
    return
function Memory.deAlloc 0
    push argument 0
    push static 1
    add
    push static 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push argument 0
    pop static 2
    push constant 0
    return